:root {
    --primary-color: #000000;
    --secondary-color: #dc3545;
    --accent-color: #6091eb;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

.min-vh-100 {
    min-height: 100vh;
}

.box{
    box-sizing: border-box;
}

.navbar{
    margin-bottom: 10px;
    background-color: var(--accent-color) !important;
    font-weight: 600;
}

.navbar ul li a {
    color:rgb(193, 216, 236);
    text-decoration: none;
}

.navbar ul li a:hover {
    color: black;
}

main{
    padding: 0 50px 0 50px;
}

.search-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.search-bar{
    flex: 1;
    min-width: 150px;
    padding: 8px;
    border-radius: 5px;
}

.clear-btn{
    padding: 8px 16px;
    border-radius: 5px;
    flex: 0 0 auto;
    width: auto;
}

@media (max-width: 600px) {
  .clear-btn {
    flex: 1 1 100%;
    width: 100%; 
  }
}

.custom-fit {
  height: 250px; /* Adjust this to make the image taller or shorter */
  width: 100%;
  object-fit: cover; /* Prevents the image from squishing */
}

.btn-custom {
  background-color: #b3cce7; 
  color:#6091eb;
}

.btn-custom:hover{
    background-color: rgb(214, 52, 79);
    color: #000000;
}



#charactersCard:hover{
    transform: scale(1.05);
    box-shadow:  rgba(0, 0, 0, 0.2);
}

footer{
    background-color:#6091eb;
    width: 100%;
    bottom: 0;
}
